* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3c3b3b8f;
  font-family: sans-serif;
  outline: none;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #232323;
  padding: 15px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: grid;
  grid-template-columns: repeat(4, 68px);
}
input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #3a3a44bd;
  /* box-shadow: inset 5px 5px 12px #3e3e3f53,
    inset -5px -5px 12px rgba(60, 60, 63, 0.448); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: none;
  border-radius: 30px;
  color: rgba(226, 217, 217, 0.937);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
}
button {
  height: 48px;
  width: 48px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
  color: rgba(225, 216, 216, 0.955);
}
button:hover {
  background-color: rgba(169, 169, 169, 0.379);
  color: rgb(9, 8, 15);
}
/* box-shadow: inset -5px -5px 12px #121212,
                      5px 5px 12px rgba(255, 255, 255, 0.16); */
/* box-shadow: -5px -5px 12px #121212,
                 5px 5px 12px rgba(255, 255, 255, 0.047); */
.operations-btn {
  background-color: #9d8fe192;
  color: #c8c0eb;
}
.clear-btn {
  background-color: rgba(252, 218, 21, 0.634);
  font-weight: 520;
}
.del-btn,
.theme-btn {
  background-color: #b0ceeee4;
}
.fa-solid {
  background-color: #9eb8d3d2;
  color: #505153;
}
.equal-btn {
  background-color: rgba(137, 43, 226, 0.805);
}
